/*
 * *****
 * File: style.css
 * Project: Calendar PHP 8
 * File Created: Wednesday, 27 January 2021 14:28:41
 * Author: Marcos Antônio Barbosa de Souza (marcantech@uol.com.br)
 * -----
 * Last Modified: Wednesday, 27 January 2021 16:20:57
 * Modified By: Marcos Antônio Barbosa de Souza (<marcantech@uol.com.br>)
 * -----
 * Copyright (c) 2019 - 2021 All rights reserved, Marcant Tecnologia
 * -----
 * Description:
 *              Folha de estilos
 * *****
 */
body {
    margin:0;
    font-family: sans-serif;
    font-size: 2rem;
}

table {
    width: 100vw;
    height: calc(100vh - 100px);
}

table th {
    padding: 20px;
}

table td {
    font-size: 2em;
    font-weight: bold;
}

table td.other-month {
    opacity: .5;
}

table td, table th {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

