<!--
File: index.html
Project: SpeechSynthesis
File Created: Wednesday, 07 October 2020 16:02:14
Author: Marcos Antônio Barbosa de Souza (marcantech@uol.com.br)
-----
Last Modified: Wednesday, 07 October 2020 16:35:32
Modified By: Marcos Antônio Barbosa de Souza (<marcantech@uol.com.br>)
-----
Copyright (c) 2019 - 2020 All rights reserved, Marcant Tecnologia
-----
-->
<head>
    <script src="./script.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body class="m-auto text-center">
    <div class="border border-purple m-4"
        contenteditable
        oninput="setText(event)"
            >Seu texto aqui
    </div>
    <button
        onclick="speak()"
        class="p-4 bg-purple-200 rounded shadow">Falar
    </button>
    <button
        onclick="stop()"
        class="p-4 bg-purple-700 text-white rounded shadow">Parar
    </button>
</body>